priority -55

snippet date "ISO date"
`date +%Y-%m-%d`$0
endsnippet

snippet cldate "Changelog date"
`date "+%a, %d %b %Y %H:%M:%S %z"`$0
endsnippet

snippet me "Email & Name"
Kevin Murray <kdmfoss@gmail.com>$0
endsnippet

snippet debmed "Deb Med Pkg email"
Debian Med Packaging <debian-med-packaging@lists.alioth.debian.org>$0
endsnippet

snippet copyright
Copyright (c) `date +%Y` Kevin Murray <kdmfoss@gmail.com>$0
endsnippet

# vim:ft=snippets:
