snippet blogheader "Pelican blog header" b
:author: `git config --global --get user.name`
:date: ${1:`date +%Y-%m-%d`}
:tags: $2
:category: $3

$0
endsnippet
snippet link "Rst link"
\`${1:displayed text} <${2:https://link.com}>\`_$0
endsnippet
